.main{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .quote{
    position: absolute;
    top:20px;
    left:26%;
    color:#1d4b56;
}

.main h3{
    position:absolute;
    top:75px;
    left:42%;
    color:#1d4b56a0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.icon_1{
    position:absolute;
    top:134px;
    left:150px;;
    height:40px;

}
.row1{
    position:absolute;
    left:120px;
    top:220px;
    display: flex;
    gap:195px;
}

.first-para{
    display:flex;
    flex-direction: column;

}

.first-para span{
    width:470px;
    font-weight: 600;
    font-family:'Montserrat';
    font-size: 120%;
    line-height: 1.6;
}



.first-para button{
    width:150px;
    margin-top:22px;
    background-color:#344b34b3;
    border:none;
}

.first-para img{
    margin-top:80px;
}

.right-para{
    display: flex;
    flex-direction: column;
}

.icon_3{
    position:absolute;
    right:0px;
    top:660px;
    z-index: -1;
}

.head1{
    margin-top:140px;
    font-family:"Montserrat";
    font-weight: 600;
    font-size: 184%;

}


.Challenges{
    position:absolute;
    left:88px;
    top:930px;
    width:1300px;
    height:480px;
    
}

.row2{
    position:absolute;
    left:100px;
    top:1499px;
    display: flex;
    gap: 80px;
}

.para2{
    display: flex;
    flex-direction: column;
}

.head2{
    font-family: "Montserrat";
    font-weight: 600;
    font-size:130%;
    margin-top:60px;
}

.para2 p{
    
    font-weight: 400;
    font-size: 100%;
    width:400px;
    line-height: 1.6;
}

.icon_5{
    position:absolute;
    height:100px;
}

.row3 {
    position:absolute;
    top:2000px;
    width: 100%; 
    text-align: center; 
}

.row4{
    position:absolute;
    left:200px;
    top:3000px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the container */
}
.row5{
    position:absolute;
    left:200px;
    top:3400px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the container */
}
.row6{
    position:absolute;
    left:200px;
    top:3500px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the container */
}

.text-content {
    width: 50%; /* Take up half of the row */
}

.text-content2 {
    width: 100%; /* Take up half of the row */
}

.image-content {
    width: 50%; /* Take up half of the row */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right side) */
}

.image-content img {
    margin-bottom: 10px; /* Add some spacing between images */
}





